testfile/mimetype
.DS_Store
zhy.odt
src/.DS_Store
testfile/content.xml
testfile/layout-cache
testfile/meta.xml
testfile/settings.xml
testfile/styles.xml
testfile/META-INF/manifest.xml
testfile/Thumbnails/thumbnail.png
